body {
    line-height: 2;
}

#photo {
    height: 200px;
    margin: 16px;
}

.header {
    background-color: #C1F2E8;
}

.cv-page {
    background-color: #F5FFFD;
}

.country-flag {
    height: 16px;
    margin-right: 5px;
}
.item-icon {
    height: 25px;
}

ul li a {
    color: black;
}

.hr-line {
    width: 100%;
    height: 2px;
    background-color: #009688;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}